body { background-color: gray; font-family:sans-serif;}

.CodeMirror {
  display:block;
  position:absolute;
  top:30;
  left:0;
  width:100%;
  z-index:9999;
}

.CodeMirror-gutter-text { cursor:pointer; }

/* Footer Stuff */

#footer {
  position:absolute;
  bottom:0px;
  padding:5px;
  padding-bottom:15px;
  width:98.2%;
}

/*#legend { width:350px; padding:4px; }*/
#legend { width:160px; padding:4px; box-shadow: 0 0 0.5em black;}
#legend span { width:145px; display:inline-block; font-size:.95em;}

#reminders {position:absolute; right:10px; bottom:0px; font-size:.95em; padding-bottom:10px;}
#enable-reminders {cursor:pointer; text-decoration:underline;}

/* theme modifications */
.cm-error {font-weight:bold;}
.cm-s-ambiance .cm-error {}
